OPENWEATHER_API_KEY=your_openweather_api_key_here

CITY=Karachi,PK
LAT=24.8607
LON=67.0011

HOPSWORKS_PROJECT_NAME=your_hopsworks_project_name
HOPSWORKS_API_KEY=your_hopsworks_api_key
HOPSWORKS_HOST=app.hopsworks.ai
